body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c9e78a;
    --position: 0;

    font-family: "Lexend", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
    position: fixed;
    bottom: 0;
    display: flex;

    z-index: -2;
    transition: left .5s ease-out;

    left: calc(-100% * var(--position));
}

.title {
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;

    font-size: 25vmax;
    font-weight: 700;

    z-index: -1;
    color: rgb(255 255 255 / 60%);

    mix-blend-mode: overlay;

    animation: text-appear .5s ease-out;
}

section.fruits article {
    height: 100vh;
    width: 100vw;
    z-index: -2;

    overflow: hidden;
}

section.fruits article .items {
    width: 100vw;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: fruits-drop .9s ease-out;
}

section article.exotic {
    background-color: #9c96f6;
}

section article.apple {
    background-color: #ffb2b2;
}

.soda {
    --width: 275px;

    display: grid;
}

.soda .labels {
    background: url('./images/labels.jpg');
    background-size: calc(var(--width) * 3) auto;

    mask: url('./images/soda.svg');
    mask-size: var(--width) auto;
    mask-repeat: no-repeat;
    mix-blend-mode: multiply;

    background-position-x: calc(var(--width)* -1 * var(--position));

    transition: background-position .4s ease-out;
}

.soda>* {
    width: var(--width);
    grid-column: 1;
    grid-row: 1;
}

/* ESTILO BOTONES */
.buttons {
    position: fixed;
    height: 100vh;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: height .5s ease-in-out;
}
.buttons button {
    background-color: white;
    appearance: none;
    border: none;
    outline: none;

    margin: 1rem;
    padding: 0;

    border-radius: 100%;
    width: 100px;
    height: 100px;

    opacity: 1;
    pointer-events: inherit;

    transition: opacity .3s ease-in-out;

    cursor: pointer;
}

.buttons button::before {
    content: '';
    display: block;
    position: relative;
    border-radius: 100%;
    z-index: -1;

    width: 100px;
    height: 100px;

    background-color: #ffb2b2;

    pointer-events: none;
    animation: button 2s ease-in-out infinite;
}

body#p0 .buttons button#right,
body#p3 .buttons button#left {
    opacity: 0;
    pointer-events: none;
}

body#p1 .buttons button#left::before {
    background-color: #9c96f6;
}
body#p1 .buttons button#right::before {
    background-color: #c9e78a;
}
body#p2 .buttons button#left::before {
    background-color: #c9e78a;
}
body#p2 .buttons button#right::before {
    background-color: #ffb2b2;
}
body#p3 .buttons button#right::before {
    background-color: #9c96f6;
}

/* Animacion frutas */
article img {
    --fruit: 0;

    height: 200px;
    animation: fruit-float 6s ease-in-out infinite;

    animation-delay: calc( var(--fruit) * -1s);

    filter: drop-shadow(0px 200px 7px #0000001f);
}

article img:nth-child(1) {
    --fruit: 0;
    padding-top: 25vh;
}
article img:nth-child(2) {
    --fruit: 1;
    padding-bottom: 0;
}
article img:nth-child(3) {
    --fruit: 2;
    padding-bottom: 25vh;
}
article img:nth-child(4) {
    --fruit: 3;
    padding-top: 30vh;
}

@keyframes fruits-drop {
    0% {
        bottom: 100vh;
    }

    50% {
        bottom: 100vh;
    }

    100% {
        bottom: 0vh;
    }
}

@keyframes fruit-float {
    0% {
        transform: translate(0, 0px) rotate(5deg);
    }

    50% {
        transform: translate(0, -10px) scale(0.95);
    }

    100% {
        transform: translate(0, 0px) rotate(5deg);
    }
}

@keyframes button {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1.8);
        opacity: 0;
    }
}

@keyframes text-appear {
    from {
        transform: scale(0.9);
        padding-top: 7rem;
        opacity: 0;
    }

    to {
        transform: scale(1);
        padding-top: 0;
        opacity: 1;
    }
}

@media (max-width: 785px) {
    .buttons {
        height: 200px;
    }
}